body{
    font-family: Arial, Helvetica, sans-serif;

}
.todogrid,.todogridinput
{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;

}
.todogridinput{
    align-items:stretch;
    margin-bottom: 10px;
}
.nameinput,.indate{
font-size: 15px;
padding: 6px;
}
.add{
    background-color: green;
color:white;
border: none;
font-size: 15px;
cursor: pointer;
} 
.delete{
    background-color: rgb(121, 11, 11);
    color: white;
    border: none;
    font-size: 15px;
cursor: pointer;
padding: 10px;
}